@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-h: 65px;
  --footer-h: 50px;
}
body {
  @apply bg-secondary text-font-primary;
}

.page-content {
  min-height: calc(100vh - var(--header-h) - var(--footer-h));
  @apply py-5;
}

.btn {
  @apply text-font-secondary font-extrabold w-fit
  bg-primary py-2 px-3 rounded-lg
  hover:bg-secondary
  active:bg-primary;
}
